# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
# Pycharm 配置，由于 Windows 和 Linux 环境不同而设置
.idea/
# database 文件，防止冲突
Src/Flask/data.db
# .xml
*.xml

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# addded by ZJY
__pycache__