click>=8.1.3
datasketch>=1.5.8
Flask>=2.2.2
Flask_Login>=0.6.2
flask_sqlalchemy>=3.0.2
jieba>=0.42.1
numpy>=1.16.2
pandas>=1.3.5
python-dotenv>=0.21.0
python_Levenshtein>=0.20.8
scikit_learn>=1.1.3
Werkzeug>=2.2.2
yagmail>=0.15.293

Levenshtein~=0.20.8
openpyxl~=3.0.10