<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>收集详情</title>
    {#    <link rel="stylesheet" href="css/collect_details.css"/>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collect_details.css') }}" type="text/css"/>
</head>

<body>
{# ? 用于数据传输 #}
<div id="json_object" style="display: none">{{ json_object }}</div>
<div id="json_length" style="display: none">{{ json_length }}</div>
<div class="container">
    <div class="part1">
        <a href="{{ url_for('mycollection') }}" class="link_box">文件收集</a>
    </div>
    <div class="part2">
        <!-- part2为显示区域 -->
        <div class="part2_left">
            <div>0</div>
            <div>已收问卷数</div>
        </div>
        <div class="part2_middle">
            <div>0</div>
            <div>已收文件数</div>
        </div>
        <div class="part2_right">
            <div>0</div>
            <div>截止倒计时</div>
        </div>
    </div>
    <div class="part3">
        <div class="tab_list">
            <ul>
                <li class="current">应交名单</li>
                <li>提交记录</li>
            </ul>
        </div>
        <!-- tab栏 -->
        <div class="tab_con">
            <div class="item" style="display: block;">
                <div class="part4">
                    <!-- part4为tab栏的内容部分 -->
                    <button class="btn_add" onclick="click0()">添加姓名</button>
                    <div class="name_box" id="name_box"></div>
                    <!-- 名字显示区 -->
                </div>
            </div>
            <div class="item">
                <div class="part4">
                    <div class="list_head">
                        <div class="list_name">姓名</div>
                        <div class="list_date">提交时间</div>
                        <div class="list_number">文件数量</div>
                        <div class="list_condition" onclick="addmember()">文件详情</div>
                    </div>
                    <div class="list_body" id="list_body"></div>
                </div>
            </div>
        </div>
    </div>
    {# ? 向数据库提交应交名单数据 #}
    <form method="post" target="hidden_frame">
        <div class="popup_body" id="popup">
            <textarea placeholder="请按行输入姓名，或以英文逗号隔开多个姓名，例如：张三,李四" class="textarea"
                      id="textarea"></textarea>
            {# 用于传输应交名单数据 #}
            <textarea style="display: none" name="name_data" id="name_data"></textarea>
            {# <button class="btn_re" onclick="click1()">确认</button> #}
            <input type="submit" class="btn_re" id="btn-for-submit" value="确认" onclick="click1()">
        </div>
    </form>
    <div class="popup_body1" id="popup1" style="display: none">
        <div id="pop" class="pop" onclick="click2()">返回</div>
        <div id="popup-content" class="popup-content"></div>
    </div>
    <form method="post" target="hidden_frame" id="hidden">
        <input type="text" id="hidden-input" name="hidden-input" style="display: none">
    </form>
    <iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe>
    <div id="popLayer"></div>
</div>
{#<script src="js/collect_details.js"></script>#}
<script src="{{ url_for('static', filename='js/collect_details.js') }}"></script>
</body>

</html>