<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>收集详情</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='collect_details.css') }}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="part1">
        <a href="https://www.baidu.com" class="link_box">文件收集</a>
    </div>
    <div class="part2">
        <!-- part2为显示区域 -->
        <div class="part2_left">
            <div id="collection_collected">0</div>
            <div>已收问卷数</div>
        </div>
        <div class="part2_middle">
            <div id="file_collected">0</div>
            <div>已收文件数</div>
        </div>
        <div class="part2_right">
            <div id="valid_timer">0</div>
            <div>截止倒计时</div>
        </div>
    </div>
    <div class="part3">
        <div class="tab_list">
            <ul>
                <li class="current">应交名单</li>
                <li>提交记录</li>
            </ul>
        </div>
        <!-- tab栏 -->
        <div class="tab_con">
            <div class="item" style="display: block;">
                <div class="part4">
                    <!-- part4为tab栏的内容部分 -->
                    <button class="btn_add" onclick="click0()">添加姓名</button>
                    <div class="name_box" id="name_box"></div>
                    <!-- 名字显示区 -->
                </div>
            </div>
            <div class="item">
                <div class="part4">未完成</div>
            </div>
        </div>
    </div>
    <div class="popup_body" id="popup">
        <textarea placeholder="请按行输入姓名，或以英文逗号隔开多个姓名，例如：张三,李四" class="textarea"
                  id="textarea"></textarea>
        <button class="btn_re" onclick="click1()">确认</button>
    </div>
    <!-- 弹窗 -->
</div>

<script type="text/javascript">

    var tab_list = document.querySelector(".tab_list");
    var lis = tab_list.querySelectorAll("li");
    var items = document.querySelectorAll(".item");
    for (var i = 0; i < lis.length; i++) {
        lis[i].setAttribute("index", i);
        lis[i].onclick = function () {
            for (var i = 0; i < lis.length; i++) {
                lis[i].className = "";
            }
            this.className = "current";
            var index = this.getAttribute("index");
            for (var i = 0; i < items.length; i++) {
                items[i].style.display = "none";
            }
            items[index].style.display = "block";
        }
    }//实现tab栏切换

    function click0() {
        var popup = document.getElementById("popup");
        popup.style.display = "block";
    }//添加姓名弹窗

    function click1() {
        var popup = document.getElementById("popup");
        popup.style.display = "none";
        addname();
        document.getElementById("textarea").value = "";
    }//在namebox中添加名字，关闭弹窗

    function addname() {
        var str = document.getElementById("textarea").value;
        if (str != "") {
            var n = str.split(/[\s\n]|\,/);//将textarea中字符串以,和换行符切分
            var flag = 0;
            let d1 = document.getElementById("name_box");
            while (flag < n.length) {
                if (n[flag] != "") {
                    let para = document.createElement("div");
                    let node1 = document.createElement("div");
                    let node2 = document.createTextNode(n[flag]);
                    let delbtn = document.createElement("button");
                    //生成子节点
                    para.className = "name";
                    node1.className = "div1";
                    delbtn.className = "del";
                    node1.title = n[flag];
                    //添加样式和数据,数组n存放名字字符串
                    delbtn.appendChild(document.createTextNode("X"));
                    para.appendChild(node1);
                    node1.appendChild(node2);
                    d1.appendChild(para);
                    para.appendChild(delbtn);
                    //给子节点添加父节点
                    para.onmouseover = function () {
                        delbtn.style.display = "block";
                    }//光标移动至相应元素则显示按钮
                    para.onmouseout = function () {
                        delbtn.style.display = "none";
                    }//光标移动至相应元素外则按钮隐藏
                    delbtn.onclick = function () {
                        d1.removeChild(para);
                    }//点击删除节点
                }
                flag++;
            }
        }
    }//添加名字
</script>

</body>

</html>