<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>收集详情</title>
    {#    <link rel="stylesheet" href="css/collect_details.css"/>#}
    <link rel="stylesheet" href="http://at.alicdn.com/t/c/font_3751655_o66m8aeymun.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collect_details.css') }}" type="text/css"/>
</head>

<body>
{# ? 用于数据传输 #}
<div id="json_object" style="display: none">{{ json_object }}</div>
<div id="json_length" style="display: none">{{ json_length }}</div>
<div class="container">
    <div class="part1">
        <a href="{{ url_for('mycollection') }}" class="link_box">文件收集</a>
    </div>
    <div class="part2">
        <!-- part2为显示区域 -->
        <div class="part2_left">
            <div>{{ submission_count }}</div>
            <div>已收问卷数</div>
        </div>
        <div class="part2_middle">
            <div>{{ filenum_count }}</div>
            <div>已收文件数</div>
        </div>
        <div class="part2_right">
            <div id="part2_right"></div>
            <div>截止倒计时</div>
        </div>
    </div>
    <div class="part3">
        <div class="tab_list">
            <ul>
                <li class="current">应交名单</li>
                <li>提交记录</li>
            </ul>
            <div id="watchCollection">
                <div>查看汇总</div>
                <div><a href="">下载文件</a></div>
            </div>
        </div>
        <!-- tab栏 -->
        <div class="tab_con">
            <div class="item" style="display: block;">
                <div class="part4">
                    <!-- part4为tab栏的内容部分 -->
                    <button class="btn_add" onclick="click0()">添加姓名</button>
                    <div class="name_box" id="name_box"></div>
                    <!-- 名字显示区 -->
                </div>
            </div>
            <div class="item">
                <div class="part4">
                    <div class="list_head">
                        <div class="list_name">姓名</div>
                        <div class="list_date">提交时间</div>
                        <div class="list_number">文件数量</div>
                        <div class="list_condition">文件详情</div>
                    </div>
                    <div class="list_body" id="list_body"></div>
                </div>
            </div>
        </div>
    </div>
    {# ? 向数据库提交应交名单数据 #}
    <form method="post">
        <div class="popup_body" id="popup">
            <textarea placeholder="请按行输入姓名，或以英文逗号隔开多个姓名，例如：张三,李四" class="textarea"
                      id="textarea"></textarea>
            {# 用于传输应交名单数据 #}
            <textarea style="display: none" name="name_data" id="name_data"></textarea>
            {# <button class="btn_re" onclick="click1()">确认</button> #}
            <input type="submit" class="btn_re" id="btn-for-submit" value="确认" onclick="click1()">
        </div>
    </form>
    <div class="popup_body1" id="popup1" style="display: none">
        <div id="pop" class="pop" onclick="click2()"></div>
        <div id="popup-content" class="popup-content"></div>
    </div>
    <form method="post" target="hidden_frame" id="hidden">
        <input type="text" id="hidden-input" name="hidden-input" style="display: none">
    </form>
    <iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe>
    <div id="popLayer"></div>
</div>
{#<script src="js/collect_details.js"></script>#}
<script src="{{ url_for('static', filename='js/collect_details.js') }}"></script>
<script>
    function getData() {
        let tmp_json = JSON.parse('{{ json_object | tojson }}');
        let json_length = JSON.parse('{{ json_length }}');
        for (let i = 0; i < json_length; i++) {
            addmember(tmp_json[i].submitter_order_idx, tmp_json[i].submitter_name,
                tmp_json[i].submit_time, tmp_json[i].file_submitted_count, tmp_json[i].file_submitted_list);
        }
    }

    let getData_signal = 1;

    window.onload = function starttime() {
        time(part2_right, '{{ ddl_countdown }}');
        ptimer = setTimeout(starttime, 1000); // 添加计时器
        if (getData_signal == 1) { // 每次加载页面只触发一次 getData 函数
            getData();
            console.log(submitted_list);
            console.log(not_submitted_list);
            faddname(submitted_list, not_submitted_list); // * 已提交，未提交
            getData_signal--;
        }
    }

    function time(obj, futimg) {
        var nowtime = new Date().getTime(); // 现在时间转换为时间戳
        var futruetime = new Date(futimg).getTime(); // 未来时间转换为时间戳
        var msec = futruetime - nowtime; // 毫秒 未来时间-现在时间
        var time = (msec / 1000);  // 毫秒/1000
        var day = parseInt(time / 86400); // 天  24*60*60*1000
        var hour = parseInt(time / 3600) - 24 * day;    // 小时 60*60 总小时数-过去的小时数=现在的小时数
        var minute = parseInt(time % 3600 / 60); // 分 -(day*24) 以60秒为一整份 取余 剩下秒数 秒数/60 就是分钟数
        var second = parseInt(time % 60);  // 以60秒为一整份 取余 剩下秒数
        let x = "已截止";
        if (time > 0) {
            if (day !== 0) {
                x = day + "天" + hour + "小时" + minute + "分" + second + "秒";
            } else if (hour !== 0) {
                x = hour + "小时" + minute + "分" + second + "秒";
            } else if (minute !== 0) {
                x = minute + "分" + second + "秒";
            } else if (second !== 0) {
                x = second + "秒";
            }
            document.getElementById("part2_right").innerText = x;
        } else document.getElementById("part2_right").innerText = "已截止";
    }

    let submitted_list = JSON.parse('{{ submitted_list | tojson }}');
    let not_submitted_list = JSON.parse('{{ not_submitted_list | tojson }}');

    function faddname(arr1, arr2) {
        let d1 = document.getElementById("name_box");
        let flag = 0;
        while (flag < arr1.length) {
            let para = document.createElement("div");
            let node1 = document.createElement("div");
            let node2 = document.createTextNode(arr1[flag]);
            let delbtn = document.createElement("button");
            //生成子节点
            para.className = "paraname1";
            para.id = arr1[flag];
            node1.className = "div1";
            delbtn.className = "del";
            node1.title = arr1[flag];
            //添加样式和数据,数组n存放名字字符串
            // delbtn.appendChild(document.createTextNode("X"));
            para.appendChild(node1);
            node1.appendChild(node2);
            d1.appendChild(para);
            para.appendChild(delbtn);
            //给子节点添加父节点
            para.onmouseover = function () {
                delbtn.style.display = "block";
            }//光标移动至相应元素则显示按钮
            para.onmouseout = function () {
                delbtn.style.display = "none";
            }//光标移动至相应元素外则按钮隐藏
            delbtn.onclick = function () {
                document.getElementById("hidden-input").value = "delete " + node1.title;
                arr.remove(node1.title);
                d1.removeChild(para);
                document.getElementById("hidden").submit();
            }//点击删除节点
            flag++;
        }
        flag = 0;
        while (flag < arr2.length) {
            let para = document.createElement("div");
            let node1 = document.createElement("div");
            let node2 = document.createTextNode(arr2[flag]);
            let delbtn = document.createElement("button");
            //生成子节点
            para.className = "paraname";
            para.id = arr2[flag];
            node1.className = "div1";
            delbtn.className = "del";
            node1.title = arr2[flag];
            //添加样式和数据,数组n存放名字字符串
            // delbtn.appendChild(document.createTextNode("X"));
            para.appendChild(node1);
            node1.appendChild(node2);
            d1.appendChild(para);
            para.appendChild(delbtn);
            //给子节点添加父节点
            para.onmouseover = function () {
                delbtn.style.display = "block";
            }//光标移动至相应元素则显示按钮
            para.onmouseout = function () {
                delbtn.style.display = "none";
            }//光标移动至相应元素外则按钮隐藏
            delbtn.onclick = function () {
                document.getElementById("hidden-input").value = node1.title;
                arr.remove(node1.title);
                d1.removeChild(para);
                document.getElementById("hidden").submit();
            }//点击删除节点
            flag++;
        }
    }
</script>
</body>

</html>