<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_link.css') }}">
<link rel="stylesheet" href="http://at.alicdn.com/t/c/font_3751655_xww4ywut3q.css">
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>创建链接界面</title>
</head>

<body>
    <div class="box">
        <h1 class="title">创建成功！</h1>
        <div class="text">
            <div>下面是您的文件收集链接</div>
            <div>请复制并发给文件提交者</div>
        </div>
        <div class="main">
            <div class="link_box">
                <div class="link" id="link">https://baidu.com</div>
            </div>
            <button class="copy" onclick="mycopy()">复制</button>
        </div>
        <a href="{{ url_for('mycollection') }}" class="click">查看我的收集</a>
        <!-- <div class="btn">
            <button class="click" onclick="window.location.href = "mycollection.html">查看我的收集</button>
        </div> -->
    </div>
    <textarea id="input"></textarea>
</body>
<script>
    const n = document.getElementById("link");
    const copyBox = document.querySelector(".copy"); 
    n.title = document.getElementById("link").innerText;
    function mycopy() {
        var text = document.getElementById("link").innerText;
        var input = document.getElementById("input");
        input.textContent = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
        copyBox.innerHTML = "已复制";
        setTimeout(() => {
            copyBox.innerHTML = "复制";
        }, 1500);
    }
    
</script>

</html>