<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文件收集</title>
    <link rel="stylesheet" href="../static/all.css" />
    <link rel="stylesheet" href="../static/file_collecting.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" onkeydown="if(event.keyCode==13){return false;}">
        <div class="header">
          <input
            class="collectionTitle"
            type="text"
            value="文件收集"
            name="collectionTitle"
          />
          收集者<input class="collector" type="text" name="collector" />
          截止时间<input class="deadLine" type="date" name="deadLine" />
        </div>
        <div class="main">
          <ul>
            <!-- <li>
              <h1><input class="input-topic" type="text" value="姓名" /></h1>
              <input
                class="input-content"
                type="text"
                disabled="disabled"
                placeholder="此项由提交者填写"
              />
              <button class="removeTopic">删除题目</button>
            </li>
            <li>
              <h1><input class="input-topic" type="text" value="文件" /></h1>
              <div class="selectTopic">
                <input type="checkbox" />姓名
                <input type="checkbox" />学号
              </div>
              <input class="input-content" type="file" disabled="disabled"/>
              <button class="removeTopic">删除题目</button>
            </li> -->
            <!-- <li>
              <h1><input class="input-topic" type="text" value="单选" /></h1>
              <div class="questionBox">
                <div class="quesiton question1">
                  <span>题目1</span>
                  <input type="radio" name="q1" />
                  <span>A</span>
                  <input type="radio" name="q1" />
                  <span>B</span>
                  <input type="radio" name="q1" />
                  <span>C</span>
                  <input type="radio" name="q1" />
                  <span>D</span>
                </div>
                <div class="question question2">
                  <span>题目1</span>
                  <input type="radio" name="q2" />
                  <span>A</span>
                  <input type="radio" name="q2" />
                  <span>B</span>
                  <input type="radio" name="q2" />
                  <span>C</span>
                  <input type="radio" name="q2" />
                  <span>D</span>
                </div>
              </div>
              <button onclick="return false;">添加选项</button>
              <button onclick="return false;">删除选项</button>
              <button class="removeTopic">删除题目</button>
            </li> -->
          </ul>
          <div id="btn-for-add">添加题目</div>
        </div>
        <button type="submit">创建</button>
      </form>
    </div>
    <div class="popup">
      <div class="popup-header">
        <h1>添加题目</h1>
        <span>X</span>
      </div>
      <div class="popup-body">
        <div class="popup-op" id="op-name">姓名</div>
        <div class="popup-op" id="op-file">文件</div>
        <div class="popup-op" id="op-sno">学号</div>
        <div class="popup-op" id="op-radio">单选题</div>
      </div>
    </div>
    <script src="../static/file_collecting.js"></script>
  </body>
</html>
