<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">
</head>
<body>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}
<nav>
    <div class="left"></div>
    <div class="right">
        {% if current_user.is_authenticated %}
            <div>{{ current_user.name }}</div>
            <div><a href="{{ url_for('logout') }}">退出登录</a></div>
        {% else %}
            <div><a href="{{ url_for('login') }}">登录</a></div>
            <div><a href="{{ url_for('register') }}">注册</a></div>
        {% endif %}
    </div>
</nav>
<section class="container">
    <h1>作业收集系统</h1>
    <div class="main">
        <div class="op1">
            <a href="{{ url_for('file_collecting') }}">创建收集</a>
        </div>
        <div class="op2">
            <a href="{{ url_for('collection_details') }}">收集记录</a>
        </div>
    </div>
</section>
<footer>
    <p>
        版权所有：一念神魔之青青草原
    </p>

</footer>
</body>
</html>