<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
      type="text/css"
    />
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <nav>
      <div class="left">
        <div id="nav_op1" class="nav_op">
            <a href="{{ url_for('file_collecting') }}">创建收集</a>
          </div>
          <div id="nav_op2" class="nav_op">
            <a href="{{ url_for('mycollection') }}">收集记录</a>
          </div>
      </div>
      <div class="middle">
        <div id="nav_productName">嘟嘟可收件箱</div>
      </div>
      <div class="right">
        {% if current_user.is_authenticated %}
        <div id="nav_op3" class="nav_op"><a href="{{url_for('personal_homepage')}}">{{ current_user.name }}</a></div>
        <div id="nav_op4" class="nav_op"><a href="{{ url_for('logout') }}">退出登录</a></div>
        {% else %}
        <div id="nav_op3" class="nav_op"><a href="{{ url_for('login') }}">登录</a></div>
        <div id="nav_op4" class="nav_op"><a href="{{ url_for('register') }}">注册</a></div>
        {% endif %}
      </div>
    </nav>
    <section class="container panel one">
      <div class="main">
        <h1 id="productName">嘟嘟可收件箱</h1>
        <h1 id="EnglishName">Dodoco Inbox</h1>
        <div class="underProductName">
            <h2>文件收集、题目收集、问卷收集</h2>
            <h2></h2>
            <h2></h2>
            <div class="createCollection">
                <a href="{{ url_for('file_collecting') }}">创建收集</a>
            </div>
        </div>   
      </div>
      <img id="round_right" src="{{ url_for('static', filename='images/round1.png') }}">
      <img id="round_left" src="{{ url_for('static', filename='images/round2.png') }}">
      <img id="svg1" src="{{ url_for('static', filename='images/1.svg') }}" alt="">
    </section>
    <section class="panel two" style="z-index:10">
      <div class="textBox">
        <div class="pageTitle">
          <h1>收件，</h1>
          <h2>不止于文件</h2>
        </div>
        <div class="paragraph">
          <p>我们提供了6种格式的常见收集选项：</p>
          <p>姓名、学号、文件、单选、多选、问卷题目</p>
        </div>
        <div class="paragraph">
          <p>您可以选择任意题目创建一个收集，</p>
          <p>或者根据需求编辑题目名称，自定义题目</p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/collectioncard_2.png') }}" alt="" id="collectioncard">
    </section>
    <section class="panel three" style="z-index:11">
      <div class="textBox">
        <div class="pageTitle">
          <h1>复用，</h1>
          <h2>一个收集不只用一次</h2>
        </div>
        <div class="paragraph">
          <p>对于每一个收集，我们提供了多种操作：</p>
          <p>编辑、复制、停止、重启......</p>
        </div>
        <div class="paragraph">
          <p>您可以对已创建的收集进行修改，</p>
          <p>或者复用以前创建的收集</p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/mycollectioncard_1.png') }}" alt="" id="mycollectioncard">
    </section>
    <section class="panel four" style="z-index:12">
      <div class="textBox">
        <div class="pageTitle">
          <h1>统计，</h1>
          <h2>提交情况一目了然</h2>
        </div>
        <div class="paragraph">
          <p>您可以将应交名单导入，</p>
          <p>已提交和未提交姓名将由不同颜色区分</p>
        </div>
        <div class="paragraph">
          <p>对于每一次提交，</p>
          <p>您可以看到提交者姓名、提交时间、文件数量等信息</p>
        </div>
      </div>
      <img src="{{ url_for('static', filename='images/collectiondetailcard_1.png') }}" alt="" id="collectiondetailcard">
    </section>
    <section class="panel five" style="z-index: 13;">
      <img src="{{ url_for('static', filename='images/left-top.png') }}" alt="" class="yuanshen" id="left-top">
      <img src="{{ url_for('static', filename='images/left-bottom.png') }}" alt="" class="yuanshen" id="left-bottom">
      <img src="{{ url_for('static', filename='images/right-top.png') }}" alt="" class="yuanshen" id="right-top">
      <img src="{{ url_for('static', filename='images/right-bottom.png') }}" alt="" class="yuanshen" id="right-bottom">
    </section>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script> -->
    <!-- <footer>
      <p>版权所有：一念神魔之青青草原</p>
    </footer> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
