<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/all.css">
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <nav>
        <div class="left"></div>
        <div class="right">
            <div><a href="javascript:;">功能1</a></div>
            <div><a href="javascript:;">功能2</a></div>
        </div>
    </nav>
    <section class="main">
        <div class="op1">
            <a href="javascript:;">创建收集</a>
        </div>
        <div class="op2">
            <a href="javascript:;">收集记录</a>
        </div>
    </section>
    <footer>
        <form action="#">
            <input type="text">
            <input type="file" name="" id="">
            <input type="password" name="" id="">
            <input type="date">
        </form>

    </footer>
</body>
</html>