<!doctype html>
<link rel="stylesheet" href="static/login.css">
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>

<body>
	{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
	<div class="login_box">
		<h1 class="title">欢迎登录</h1>
		<form method="post">
    		<input class="input_box" type="text" placeholder="用户名" name="username" required>
			<input class="input_box" type="password" name="password" placeholder="密码" required>
			<input class="button_box" type="submit" name="submit" value="登录">
		</form>
        <a href="{{ url_for('register')}}" class="link_box")>立即注册</a>
	</div>

</body>
</html>