<!doctype html>
{#<link rel="stylesheet" href="../static/css/mycollection.css">#}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mycollection.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mycollection_1.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
<link rel="stylesheet" href="http://at.alicdn.com/t/c/font_3751655_0cflqaj0na3.css">
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>{{ username }}的收集</title>
</head>

<body>
<div id="json_object" style="display: none">{{ json_object }}</div>
<div id="json_length" style="display: none">{{ json_length }}</div>
<!-- <div class="tab_list">
    <a href="{{ url_for('index') }}">返回主页</a>
    <ul>
        <li class="current">我的收集</li>
        <li>个人信息</li>
        <li>修改密码</li>
    </ul>
</div> -->
<!-- tab栏 -->
<div class="tab_con">
    <div class="item" style="display: block;">
        <!-- <div class="list_head">
            <div class="list_title">收集标题</div>
            {#    <div class="list_title">{{ collection_title }}</div>#}
            <div class="list_name">收集者</div>
            {#    <div class="list_name">{{ username }}</div>#}
            <div class="list_condition">收集状态</div>
            {#    <div class="list_condition">{{ collection_status }}</div>#}
            <div class="list_times">提交次数</div>
            {#    <div class="list_times">{{ submit_count }}</div>#}
            <div class="list_date">截止时间</div>
            {#    <div class="list_date">{{ time_before_ddl }}</div>#}
            {#    <div onclick="addmember()" class="list_operate">操作</div>#}
            <div class="list_operate">操作</div>
        </div> -->
        <div id="cardContainer">
            <h1>我的文件收集</h1>
        </div>
        <div class="list_body" id="list_body">
        </div>
        <div id="popLayer"></div>
        <div class="box" id="box" style="display: none;">
            <h1 class="title">收集分享！</h1>
            <div class="text">
                <div>下面是您的文件收集链接</div>
                <div>请复制并发给文件提交者</div>
            </div>
            <div class="main">
                <div class="link_box">
                    <div class="link" id="link">https://baidu.com</div>
                </div>
                <button class="copy" onclick="mycopy()">复制</button>
            </div>
            <div class="btn">
                <button class="click" onclick="closebox()">确定</button>
            </div>
        </div>
    </div>

</div>
<textarea id="input"></textarea>
<!-- <form method="post" target="hidden_frame" id="hidden"> -->
<form method="post" id="hidden" target="hidden_frame">
    <input type="text" id="hidden-input" name="hidden-input" style="display: none">
</form>
<iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe>
</body>
{#<script src="../static/js/mycollection.js"></script>#}
<script src="{{ url_for('static', filename='js/mycollection.js') }}"></script>
<script>
    let n = document.getElementById("link");
    n.title = document.getElementById("link").innerText;

    function mycopy() {
        var text = document.getElementById("link").innerText;
        var input = document.getElementById("input");
        input.textContent = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
    }
</script>
</html>