<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>

<body>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}
<div class="register_box">
    <h1 class="title">欢迎注册</h1>
    <form method="post" onsubmit="return checkAll()">
        <input class="input_box" type="text" name="username" id="username" placeholder="设置用户名" onblur="checkUser()"
               required>
        <span class="tip_box" id="tip1"></span>
        <input class="input_box" type="password" name="psw" id="input1" placeholder="设置密码" onblur="checkKey_1()"
               required>
        <span class="tip_box" id="tip2"></span>
        <input class="input_box" type="password" name="psw_confirm" id="input2" placeholder="确认密码"
               onblur="checkKey_2()" required>
        <span class="tip_box" id="tip3"></span>
        <input class="input_box" type="email" id="input3" placeholder="设置邮箱" required>
        <span class="tip_box" id="tip4"></span>
        <input class="button_box" type="submit" name="submit" onclick="checkAll()" value="注册">
    </form>
</div>

<script>
    function checkUser() {
        x = document.getElementById("tip1");
        var Uname = username.value;
        if (Uname.match(/^[\u4E00-\u9FA5a-zA-Z0-9_]{1,12}$/)) {
            x.innerHTML = "";
        } else {
            x.innerHTML = "请输入汉字,英文字母,数字和下划线组成1-12位的用户名！";
        }
    }

    function checkKey_1() {
        x = document.getElementById("tip2");
        var Ukey1 = input1.value;
        if (Ukey1.match(/^[a-zA-Z0-9]{6,16}$/)) {
            x.innerHTML = "";
        } else {
            x.innerHTML = "请输入英文字母,数字组成6-16位的密码！";
        }
    }

    function checkKey_2() {
        x = document.getElementById("tip3");
        var Ukey1 = input1.value;
        var Ukey2 = input2.value;
        if (Ukey1 === Ukey2) {
            x.innerHTML = "";
        } else {
            x.innerHTML = "两次密码不一致,请重新输入！";
        }
    }

    function checkAll() {
        var Uname = username.value;
        var Ukey1 = input1.value;
        var Ukey2 = input2.value;
        if (Uname.match(/^[\u4E00-\u9FA5a-zA-Z0-9_]{1,12}$/) && Ukey1.match(/^[a-zA-Z0-9]{6,16}$/) && Ukey1 === Ukey2) {
            window.location.href = 'login.html';
            return true;
        }
        return false;
    }
</script>
</body>

</html>