<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/c/font_3751655_jgjvk3t6yhj.css">
    <style>
        #main::before {
            font-family: "iconfont" !important;
            content: "\e6e4";
            font-size: 32px;
        }

        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40vh;
        }

        #main {
            font-size: 32px;
        }
    </style>
</head>
<body>
    <div id="main">
        提交成功
    </div>
</body>
</html>