.container {
    width: 90vw;
    position: relative;
    left: 5vw;
}

html,
body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #9c8bf2, #4c9bf0);
    /* background-color: rgba(236, 236, 236, 0.792); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.part1 {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.link_box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

.link_box::before {
    font-family: "iconfont" !important;
    content: "\e6fa";
    font-size: 25px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.link_box:hover {
    color: #595bb3;
}

.part2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100px;
    border-radius: 14px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    position: relative;
    color: #000;
    font-size: 16px;
}

.part2_left,
.part2_middle,
.part2_right {
    margin: auto;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab_list {
    display: flex;
    justify-content: space-between;
}

.tab_list ul {
    height: 39px;
    display: flex;
    flex-direction: row;
}

.tab_list li {
    /* float: left; */
    height: 39px;
    line-height: 39px;
    /* margin-left: 10px; */
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(236, 236, 236, 0.792);
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
}

#watchCollection {
    display: flex;
}

.tab_list .current {
    background-color: #fff;
    color: black;
}

.item_info {
    padding: 20px 0 0 20px;
}

.item {
    display: none;
    height: 560px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    border-radius: 0px 12px 12px 12px;
    background-color: #fff;
}

.part4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btn_add {
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border: 1px solid rgb(190, 190, 190);
}

.btn_re:hover,
.btn_add:hover {
    background-color: #6c94f0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.name_box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 1%;
    width: 98%;
    height: 100%;
    overflow: auto;
}

.paraname {
    margin: 10px;
    width: 100px;
    background-color: rgba(236, 236, 236, 0.792);
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}

.paraname1 {
    margin: 10px;
    width: 100px;
    background-color: #b8daff;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
}

.div1 {
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.popup_body {
    position: absolute;
    border-radius: 15px;
    padding: 30px;
    width: 40%;
    left: 30%;
    top: 30%;
    height: 45%;
    background-color: #fff;
    display: none;
    z-index: 11;
}

.textarea {
    border: 1px gray dashed;
    border-radius: 15px;
    width: 100%;
    height: 85%;
    font-family: sans-serif;
    resize: none;
    font-size: 15px;
    padding: 5px;
}

.textarea:focus {
    border: none;
    outline: 1px solid gray;
}

.btn_re {
    border-radius: 8px;
    margin: 15px auto;
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
}

.del {
    border: none;
    background: none;
    margin-left: 85px;
    margin-top: -29px;
    position: absolute;
    font-size: 5px;
    font-weight: bolder;
    display: none;
}

.del::before {
    font-family: "iconfont" !important;
    content: "\e6f3";
}

.list_head {
    display: flex;
    height: 60px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #000;
}

.list_member {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.list_name,
.list_date,
.list_number,
.list_condition,
.list_preview,
.member_name,
.member_date,
.member_condition,
.member_number,
.member_preview {
    margin-left: 8px;
    margin-right: 8px;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.member_condition {
    color: rgb(0, 149, 255);
}

.member_condition:hover {
    text-decoration: underline;
    color: #826ef3;
    cursor: pointer;
}

.member_condition1 {
    margin-left: 8px;
    margin-right: 8px;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: grey;
}

.list_name,
.member_name {
    margin-left: 8px;
    margin-right: 8px;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup_body1 {
    position: fixed;
    border-radius: 12px;
    padding: 20px;
    width: 40%;
    left: 30%;
    top: 30vh;
    height: 40%;
    z-index: 11;
    background-color: rgba(236, 236, 236);
    display: none;
    align-items: center;
}

.pop {
    margin-left: 95%;
    margin-bottom: 10px;
    display: inline-block;
    height: 20px;
}

.pop::before {
    font-family: "iconfont" !important;
    content: "\e6f3";
    font-size: 15px;
}

.pop:hover {
    cursor: pointer;
}

.popup-content {
    width: 96%;
    height: 85%;
    margin: auto;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filelist {
    height: 30px;
    margin: 5px;
    line-height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#popLayer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #85878980;
}