body {
    position: relative;
}

nav {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav .left {
    width: 50%;
    height: 60px;
    background-color: #efefef;
}

nav .right {
    width: 50%;
    height: 60px;
    background-color: #efefef;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .right div{
    width: 50px;
    height: 30px;
    background-color: #efefef;
}

.container {
    /* height: 100vh; */
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    z-index: 3;
}


.main {
    position: absolute;
    top: 23vh;
    right: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#productName {
   
    font-size: 60px;
    color: #000;
} 

#EnglishName {
    font-size: 40px;
    color: #000;
}

.underProductName {
    margin: 40px 0;
    font-size: 13px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round_right {
    position: absolute;
    top: -300px;
    right: -300px;
    z-index: -1;
}

#round_left {
    position: absolute;
    bottom:-100px;
    left: -100px;
    z-index: -1;
}

#svg1 {
    width: 45vw;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: -1;
   
}

.createCollection {
    background-color: #417bff;
    padding: 10px 20px;
    margin: 40px 0;
    border-radius: 8px;
    font-size: 15px;
}

.createCollection>a {
    color: #fff;
}


html, body { 
    height: auto;
    max-width: 100vw; 
}

.panel {
  max-width: 100vw;
  height: 100vh;
  position: sticky;
  top: 60px;
}

.red {
    background-image: url(/static/images/123.png);
    background-size: cover;
}


