
nav {
    display: flex;
    justify-content: center;
}

nav .left {
    width: 50%;
    height: 100px;
    background-color: #efefef;
}

nav .right {
    width: 50%;
    height: 100px;
    background-color: #efefef;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .right div{
    width: 50px;
    height: 30px;
    margin: 10px;
    background-color: #efefef;
}

.container>h1{
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
}

.main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .op1,
.main .op2 {
    width: 100px;
    height: 80px;
    margin: 20px;
    background-color:#efefef;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

footer {
    height: 100px;
    background-color: #efefef;
}
