a {
    text-decoration: none;
}

.alert {
    position: fixed;
    top: 10px;
    pointer-events: auto;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #c2c2c2;
    padding: 16px 20px;
    /* display: none; */
    z-index: 2;
}

.alert > h1 {
    font-size: large;
    font-weight: 400;
    margin: 0 10px;
}

.alert > h1::before {
    font-family: "iconfont" !important;
    content: "\e6ee";
    font-size: larger;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8ea4f8;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    display: block;
}

.login_box {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 28px;
    color: #000;
    margin-top: 80px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-family: sans-serif;
}

.input_box {
    width: 300px;
    height: 30px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

.button_box {
    width: 300px;
    height: 35px;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #64a9d9;
    cursor: pointer;
    color: #fff;
}

.link_box {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #595bb3;
    font-family: sans-serif;
}

#goback {
    width: 110px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    left: 1vw;
}

.goback_link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    padding-top: 5px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

.goback_link::before {
    font-family: "iconfont" !important;
    content: "\e6fc";
    font-size: 23px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.goback_link:hover {
    color: #595bb3;
}