body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #9c8bf2,#4c9bf0);
    background-size: cover;
    /* position: relative; */
}


#goback {
    width: 120px;
    font-size: 20px;
    position: absolute;
    left: 5vw;
}

.goback_link {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

.goback_link::before {
    font-family: "iconfont" !important;
    content: "\e6fc";
    font-size: 23px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.goback_link:hover {
    color: #595bb3;
}

#cardContainer {
    width: 70vw;
    height: fit-content;
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    left: 15vw;
    background-color: rgba(255, 255, 255, 0.346);
    border-radius: 15px;
}

#cardContainer h1 {
    margin: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #454545;
}

.card {
    /* display: inline-block; */
    margin: 10px 10px;
    /* width: 30vw; */
    height: 100px;
    background-color: #ffffffe1;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    transition: 0.5s;
}


.card:hover {
    scale: 1.05;
    box-shadow: 0 0 10px #616060;
    transition: 0.5s;
    background-color: #fff;
}

.card:hover .cardHead {
    background:linear-gradient(to right,#fd87b7,#ffb673);
    /* background-color: #f0c61a; */
    color: #000;
    transition: 0.5s;
}
.card:hover .itemTitles {
    background-color: #fff;
    transition: 0.5s;
}

.cardHead,
.cardBody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.cardHead {
    /* height: 200px; */
    /* height: 80%; */
    width: 30vw;
    /* background-color:rgba(81, 195, 240, 0.223); */
    background-color:rgba(91, 119, 245, 0.603);
    border-radius:15px;
    transition: 0.5s;
}

.cardHead .cardItems {
    /* width: 90px;
    height: 90px; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.cardHead .cardItems:nth-of-type(1) {
    border-radius: 50px 0 0 50px;
    flex: 1.5;
}

.cardHead .cardItems:nth-of-type(2) {
    flex: 1;
    margin-left: 0;
    margin-right: 0;
}

.cardHead .cardItems:nth-of-type(3) {
    border-radius: 0 50px 50px 0;
    flex: 1.5;
}


.itemTitles {
  font-size: 13px;
  color: rgb(59, 55, 55);
  padding: 3px 3px;
  margin: 10px 0 5px 0; 
  /* background-color: rgba(241,241,241,.98); */
  border: 1px gray dotted;
  border-radius: 15px;
  transition: 0.5s;
}

.member_operate,
.cardItems {
    display: flex;
}

.cardItems {
    margin: 5px;
}

.cardTitle::before {
    font-family: "iconfont" !important;
    content: "\e6ef";
}

.cardName::before {
    font-family: "iconfont" !important;
    content: "\e6f7";
}

.cardDate::before {
    font-family: "iconfont" !important;
    content: "\e6f8";
}

.member_title,
.member_name {
    width: 100px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.member_date {
    text-align: center;
    width: 100px;
}

/* cardBody部分 */
.cardBody {
    width: 30vw;
    overflow: hidden;
    transition: 0.5s;
}

/* .card:hover .cardBody{
    width: 30vw;
    transition: 0.5s;
} */

.cardBody .cardItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* position: relative;
    left:15px; */
    margin: 0 30px;
}

.cardCondition::before {
    font-family: "iconfont" !important;
    content: "\e6e3";
}

.cardTimes::before {
    font-family: "iconfont" !important;
    content: "\e6fb";
}

.member_condition,
.member_times {
    position: relative;
    top:2px;
    left:5px;
}

.member_operate {
    width: 23vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 3px;
}

.operate:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #6c94f0;
}

.operate {
    font-size: 13px;
  color: rgb(59, 55, 55);
  padding: 5px 10px;
  margin: 5px ;
  background-color: rgba(241,241,241,.98);
  border-radius: 10px;
}