.box {
    z-index: 11;
    display: none;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
}

.title {
    margin-left: 60px;
    margin-top: 70px;
    font-size: 32px;
    color: #000;
    letter-spacing: 3px;
    font-family: sans-serif;
}

.text {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 14px;
    color: grey;
    font-family: sans-serif;
}

.link_box {
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    width: 430px;
    background-color: rgba(236, 236, 236, 0.792);
    height: 40px;
    border-radius: 8px;
}

.link {
    margin: auto;
    overflow: hidden;
    width: 95%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606B7C;
}

.link::before {
    font-family: "iconfont" !important;
    content:"\e6fe";
    font-size: 20px;
    margin-right: 20px;
}
.main {
    display: flex;
}

.copy {
    width: 60px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 8px;
    border: none;
}

.btn {
    display: flex;
}

.click {
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 40px;
}

.copy:hover,
.click:hover {
    background-color: #6c94f0;
    color: #ffffff;
}

#input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

#popLayer {
    background-color: rgb(202, 202, 202);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -moz-opacity: 0.8; 
    opacity: .80;
    filter: alpha(opacity=80);
}
