.list_head {
    display: flex;
    height: 60px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list_title,
.list_operate,
.member_title,
.member_operate,
.operate {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_name,
.list_condition,
.list_times,
.member_name,
.member_condition,
.member_times {
    margin-left: 8px;
    margin-right: 8px;
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_date,
.member_date {
    margin-left: 8px;
    margin-right: 8px;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_member {
    display: flex;
    height: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-left: none;
    border-right: none;
    border-top: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.member_operate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    z-index: 11;
    display: none;
    width: 600px;
    height: 400px;
    background-color: rgb(141, 245, 255);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
}

.title {
    margin-left: 60px;
    margin-top: 70px;
    font-size: 32px;
    color: #000;
    letter-spacing: 3px;
    font-family: sans-serif;
}

.text {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 14px;
    color: grey;
    font-family: sans-serif;
}

.link_box {
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    width: 430px;
    background-color: rgba(236, 236, 236, 0.792);
    height: 40px;
    border-radius: 8px;
}

.link {
    margin: auto;
    overflow: hidden;
    width: 95%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606B7C;
}

.main {
    display: flex;
}

.copy {
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 8px;
    border: none;
}

.btn {
    display: flex;
}

.click {
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 40px;
}

#input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

#popLayer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #DCDBDC;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.tab_con {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 200px;
}

.tab_list {
    display: flex;
    position: absolute;
    align-items: center;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    border: solid;
    background-color: darkgray;
}

.tab_list .current {
    background-color: white;
    color: black;
}

.item_info {
    padding: 20px 0 0 20px;
}

.item {
    display: none;
    margin-left: 5px;
}

.tab_list li {
    border: solid;
    border-radius: 12px;
    margin-bottom: 90px;
    float: bottom;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

li {
    list-style-type: none;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.input_box {
    margin-top: 80px;
    margin-left: 100px;
    height: 40px;
    font-size: 24px;
}

.input {
    width: 400px;
    height: 40px;
    font-size: 22px;
}

.user_data {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #64a9d9;
    margin: auto;
}

.btn {
    margin-left: 370px;
    margin-top: 60px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
}

.tip_box {
    position: absolute;
    display: block;
    margin-top: 20px;
    margin-left: 185px;
    padding-left: 60px;
    font-size: 14px;
    color: rgb(255, 0, 0);
    font-family: sans-serif;
}
.tip_box1 {
    position: absolute;
    display: block;
    margin-top: 20px;
    margin-left: 165px;
    padding-left: 60px;
    font-size: 14px;
    color: rgb(255, 0, 0);
    font-family: sans-serif;
}
a {
    position: absolute;
    top: 0;
    text-decoration: none;
}